$primary-color:rgb(0, 0, 92);
$back-color:rgb(248, 248, 248);
$button-color:rgb(252, 121, 7);
$a-color:black;
$top-color:rgb(246, 243, 243);
$service-color:rgb(246, 242, 242);
$icon-color:rgb(174, 36, 174);
$shadow-color:rgb(227, 224, 224);
$white-color:rgb(250, 250, 250);
$exp-color:rgb(249, 240, 240);
$grey-color:rgb(180, 174, 174);
$blue-color:rgb(247, 243, 243);

